<footer class="footer">
  <small>
    <a href="https://www.railstutorial.org/"><%= t "static_pages.base_title" %></a>
    <%= t "static_pages.by" %> <a href="https://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t( "static_pages.about"), about_path %></li>
      <li><%= link_to t( "static_pages.contact"), contact_path %></li>
      <li><a href="https://news.railstutorial.org/"><%= t "static_pages.news" %></a></li>
    </ul>
  </nav>
</footer>
